@use "src/base";
@use "src/mixins";

.page {
  @include mixins.viewport;
  @include mixins.column;
}

/*NAVBAR DESKTOP*/
.menuMobile {
  display: none;
}

.menuDesktop {
  @include mixins.display(space-around, center);
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
  box-shadow:0px 6px 44px -1px rgba(0,0,0,0.71);
  background-color: base.$light-green;

  .title {
    @include mixins.font(base.$principal-font, 300, 24px, base.$dark-pink);
    margin-right: 200px;
    span {
      color: base.$light-beige;
      font-weight: bold;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 50%;

    ul {
      @include mixins.display(space-between, center);
      width: 100%;
      max-width: 550px;
      list-style-type: none;
      
      li {
        a {
          @include mixins.font(base.$principal-font, bolder, 16px, base.$dark-pink);
        }
          :hover {
            color: base.$light-beige;
            text-decoration: underline;
          }
      }
    }
  }    
}

/*NAVBAR MOBILE*/
@media (max-width: 780px) {
  .menuDesktop {
    display: none;
  }

  .menuMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    flex-wrap: wrap;
    width: 100vw;
    box-shadow:0px 6px 44px -1px rgba(0,0,0,0.71);
    background-color: base.$light-green;
    height: 30px;
    z-index: 2;
    position: fixed;

    .title {
      @include mixins.font(base.$principal-font, 300, 24px, base.$dark-pink);
      padding-left: 20px;
  
      span {
        color: base.$light-beige;
        font-weight: bold;
      }
    }
  }

  label {   
      height: 20px;
      width: 30px;
      display: block;
      margin: 15px 25px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;   
  }

  .inner,
  .inner::before,
  .inner::after {
      content: '';
      width: 30px;
      height: 3px;
      border-radius: 10px;
      background-color: base.$light-beige;
      position: absolute;
      transition: all 0.3s ease-in-out;
  }

  .inner::before {
      top: 10px;
  }

  .inner::after {
      top: 20px;
  }

  .nav {
      height: 0px;
      margin-top: 30px;
      width: 0;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%; 
  }

  .check {
      display: none;
  }

  .check:checked ~ .nav {
      transform: translateX(0%);
      height: 160px;
      width: 100%;
  }

  .check:checked ~ label > div {
      transform: translateY(10px) rotate(45deg);
      transition: all 0.3s ease-in-out;
  }

  .check:checked ~ label > div::before {
      transform: translateY(-10px) rotate(90deg);
      transition: all 0.3s ease-in-out;
  }

  .check:checked ~ label > div::after {
      opacity: 0;
      transform: translateY(-20px) rotate(90deg);
      transition: all 0.3s ease-in-out;
  }

  .nav ul {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .nav a {
      padding: 10px;
      width: 100%;
      display: block;
      background-color:base.$light-green;
      border: none;
      @include mixins.font(base.$principal-font, bold, 16px, base.$light-beige);
  }

  .nav a:hover {
    background-color:base.$light-beige;
    color: black;
  }
}

/*PRINCIPAL PART*/
.sectionInicial {
  @include mixins.display(center, space-between);
  height: 100vh;
  width: 100vw;
  padding-top: 40px;

  /*Parte izquierda*/
  .inicialPage {
    width: 100vw;
    margin-left: 100px;
    margin-right: 20px;
    max-width: 45%;
    @include mixins.column;
    justify-content: center;
    z-index: 1;

    h1 {
      @include mixins.font(base.$second-font, bold, 185px, base.$light-green);
      line-height: 175px;
      margin-bottom: 30px;

      span {
        color: base.$dark-pink;
      }

      hr {
        background-color: base.$light-beige;
      }
    }

    p {
      @include mixins.font(base.$principal-font, normal, 16px, black);
      width: 100%;
      max-width: 505px;
      text-align: justify;
      margin-bottom: 15px;
      line-height: 18px;

      span {
        @include mixins.font(base.$second-font, bold, 17px, base.$dark-pink);
      }
    }

    a {
      :visited {
        color: base.$dark-pink;
      }

      button {
        @include mixins.button(base.$dark-pink,base.$dark-pink, 20);
        @include mixins.rectangulo(160, 40);
        @include mixins.font(base.$principal-font, bold, 13px, white);
        margin-left: 200px;
        outline: none;
      }

      :hover {
       background-color: #bb8998c7;
       border: 1px solid #bb8998c7;
      }
    }
  }
}

@media (max-width: 1100px) {
  .sectionInicial {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;

    .inicialPage {
      margin-left: 20px;
      margin-right: 25px;   
        h1 {
          @include mixins.font(base.$second-font, bold, 145px, base.$light-green);
          line-height: 145px;
          margin-bottom: 30px;
          max-width: 350px;
        }

        p {
          max-width: 320px
        }

        a {
          button {
            @include mixins.button(base.$dark-pink,base.$dark-pink, 20);
            @include mixins.rectangulo(120, 40);
            @include mixins.font(base.$principal-font, bold, 13px, white);
            outline: none;
            margin-left: 0px;
          }
        }
       
      }
    }
}

@media (max-width: 780px) {
  .sectionInicial {
    padding-top: 15px;
  
    .inicialPage {
      max-width: 100vw; 
      display: flex;
      justify-content: center;
      align-items: center;
        h1 {
          @include mixins.font(base.$second-font, bold, 115px, base.$light-green);
          line-height: 115px;
          margin-bottom: 30px;
          max-width: 350px;
        }
      }
    }

    .imagePrincipal {
      img {display: none;}
    }
  }

  /*Parte derecha*/
  .imagePrincipal {
    @include mixins.display(space-around, center);
    max-width: 45%;

    img {
      width: 80%;
      height: 80%;
    }
  }

  