@use "src/base";

@use "src/mixins";

.proyects {
  display: flex;
}

.rowReverse {
  flex-direction: row-reverse;
}

.portfolioImg {
  @include mixins.column;
  background-color: base.$dark-pink;
  height: 100vh;
  width: 50%;

  span {
    @include mixins.font(base.$principal-font, bolder, 20px, white);
    text-align: center;
    margin-top: 50px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.portfolioInfo {
  @include mixins.column;
  justify-content: center;
  align-items: center;
  width: 50%;

  p {
    @include mixins.font(base.$principal-font, bolder, 22px, base.$dark-pink);
    text-align: justify;
    width: 370px;
    padding: 18px;
    margin-top: 30px;
  }

  a {
    width: 30%;
    height: 40px;
    margin-top: 20px;

    :visited {
      color: white;
    }

    button {
      @include mixins.button(base.$light-orange, base.$light-orange, 20);
      @include mixins.font(base.$principal-font, bolder, 15px, white);
      width: 100%;
      height: 40px;
    }
  }
}
