@use "src/mixins";
@use "src/base";

.skillsBox {

  h2 {
    @include mixins.display(space-around, center);
    @include mixins.button(base.$light-green, base.$light-green, 20);
    @include mixins.font(base.$principal-font, bolder, 22px, base.$dark-pink);
    width: 20%;
    height: 40px;
    margin: auto;
    position: relative;
    top: 60px;
  }
}

.sectionSkill {
  @include mixins.display(space-around, center);
  margin: auto;
  flex-wrap: wrap;
  flex: 1;
  max-width: 650px;
  margin-top: 80px;

  div {
    margin: 20px 20px;
    width: 190px;
    @include mixins.display(center, center);

    img {
      @include mixins.cuadrar(50);
      margin-right: 20px;
    }

    span {
      height: 60px;
      @include mixins.display(space-between, center);
      @include mixins.button(white, base.$dark-pink, none);
      @include mixins.font(base.$principal-font, bolder, 15px, base.$dark-pink);
      box-shadow: 0 6px 8px 0 rgb(0 0 0 / 10%);
      border: 2px solid black;
      padding: 0 20px;
      border: none;
      list-style: none;
      outline: none;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.logo {
  width: 160px;
  height: 160px;
}

@media (max-width:780px) {
  .skillsBox {
    h2 {
      width: 40%;
      position: relative;
      top: 40px;
    }
  }
  .sectionSkill {
    max-width: 370px;
    margin-top: 80px;
  }
}