/*colors*/
$baby-pink: #f4bfce;
$dark-pink: #bb8998;
$light-orange: #fba48c;
$light-green: #4e584b;
$light-beige:#f2ede9;


/*fonts*/
$principal-font: "Lato", sans-serif;
$second-font: "Playfair Display", serif;
